
body {
    background-image: url("../greetings-webapp/image/greet.jpeg");
    background-color: #cccccc;
    background-size: cover;
  }

    .greet {
        background-color: whitesmoke;
        color: rgb(15, 14, 14);
        border: 2px solid black;
        margin: 140px;
        padding: 100px;
    }
    

    .message{
       
        color: red;
    }

    h1 {
        color: black;
    }
.mthi {
    text-align: normal;
}
   